---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <h3><a href="//microsoft.msafflnk.net/c/1458587/657720/7593">Save up to 45% on Add-ons for Xbox games!</a></h3>
  <img height="0" width="0" src="//microsoft.msafflnk.net/i/1458587/657720/7593" style="position:absolute;visibility:hidden;" border="0" />

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <h3><a href="//microsoft.msafflnk.net/c/1458587/657721/7593">Xbox Games - Gears 5</a></h3>
  <img height="0" width="0" src="//microsoft.msafflnk.net/i/1458587/657721/7593" style="position:absolute;visibility:hidden;" border="0" />

  <script src="https://utteranc.es/client.js"
        repo="07101994/07101994.github.io"
        issue-term="title"
        label="blog comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</article>
